/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.6;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

.rt-Card.rt-variant-ghost {
  background-color: var(--gray-a2);
}

/* Custom Styles */

.focus-item {
  margin: 10px 0;
  box-shadow: var(--shadow-4);
  cursor: pointer;
  /* Reset border */
  --card-border-width: 0px;
}

.focus-item:active,
.focus-item.active {
  color: gray;
  box-shadow: none;
}

.focus-item:hover {
  /* color: var(--gray-12); */
  box-shadow: var(--shadow-4);
}

.focus-item:hover:active {
  box-shadow: none;
}
